<div ng-app="memeApp" ng-controller="memeControl" class="container">
  <h1 align="center">Meme Law {{start}}</h1>
  

  <div class="row row-fluid">
    <div class="col-xs-12">
       
        <div class="input-group">
            <input type="text" class="form-control" ng-model="query_input">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"  ng-click="RemoveNLoadMemes(query_input)">Go!</button>
            </span>
        </div><!-- /input-group -->

    </div>
  </div>
  
    <div class="memeWrap clear" infinite-scroll="LoadMemes(query_input)" infinite-scroll-distance="1">
        <ul class="memelist">
            <li class="memeitem animate-repeat" ng-repeat="meme in currentMemes">
                <div class="bg">
                    <div class="img-thumbnail image" style="background-image: url('{{meme.url}}');"></div>
                </div>
            </li>
        </ul>
    </div>

</div>