<div ng-app="memeApp" ng-controller="memeControl" ng-init="RemoveNLoadMemes('');LoadTags(1,0);">
  
    <div class="container" >
        <img src="/assets/3.png" width="50%" style="max-height:200px; margin:10px; display:block;margin-left:auto;margin-right:auto;"/>
    </div>

    <nav id="memebar" class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container container-fluid">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Meme Law</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">

                        <input type="text" class="form-control" ng-model="query_input" autofocus id="main_search" placeholder="Search Hype Meme">
                        
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="RemoveNLoadMemes(query_input)">Go for it!</button>
                </form>
        
            </div><!-- /.navbar-collapse -->

        </div>
    </nav>



    <div class="container">

        <div class="memeWrap clear" infinite-scroll="LoadMemes(query_input)" infinite-scroll-disabled='isFetching' infinite-scroll-distance="2">
            <ul class="memelist">
                <li class="memeitem animate-repeat" id="memeitem{{meme.id}}" ng-repeat="meme in memes">
                    <!--
                    <a data-toggle="collapse" data-target="#meme{{meme.id}}" aria-expanded="true" aria-controls="meme{{memeid}}">
                    <a id="meme-collapse-{{meme.id}}">
                    -->
                    <div>

                        <div class="bg col-xs-4" ng-click="ExpandMeme(meme.id);">
                            <div class="image" id="memeimage{{meme.id}}" style="background-image: url('{{meme.url}}');"></div>'
                        </div>

                        <div id="meme{{meme.id}}" class="collapse col-xs-7 pull-right" aria-expanded="true" style="height: 0px; text-align:left;">
                            <h2><strong>{{meme.title}} <br style="margin:0px;"/><em style="color:#777; font-size:50%;">by {{meme.author}}</em></strong></h2>
                            
                            <p style="font-size:small;">Tags:

                            <em >{{meme.tags}}</em></p>

                            <p>This meme was used <strong>{{meme.copy_count+1}}</strong> times</p>


                            <div class="form-inline" role="MakeMyLifeHard">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" readonly="true" value="{{meme.url}}" onFocus="this.select()">
                                        <div class="input-group-addon" style="max-width:25px; max-height:30px; overflow:hidden;">
                                            <object style="margin:-7px;" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
                                                    width="30"
                                                    height="30"
                                                    id="clippy" >
                                            <param name="movie" value="/assets/clippy.swf"/>
                                            <param name="allowScriptAccess" value="always" />
                                            <param name="quality" value="high" />
                                            <param name="scale" value="noscale" />
                                            <param NAME="FlashVars" value="text={{meme.url}}">
                                            <param name="bgcolor" value="#CCCCCC">
                                            <embed src="/assets/clippy.swf"
                                                   width="115"
                                                   height="15"
                                                   name="clippy"
                                                   quality="high"
                                                   allowScriptAccess="always"
                                                   type="application/x-shockwave-flash"
                                                   pluginspage="http://www.macromedia.com/go/getflashplayer"
                                                   FlashVars="text={{meme.url}}"
                                                   bgcolor="#EEEEEE"
                                            />
                                            </object>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!--</a>-->
                    
                </li>
            </ul>
        </div>
    </div>

    <script>

        $(document).ready(function () {

        var menu = $('#memebar');
        var origOffsetY = menu.offset().top;

        function scroll() {
            if ($(window).scrollTop() >= origOffsetY) {
                $('#memebar').addClass('navbar-fixed-top');
                $('#memebar').removeClass('navbar-static-top');

                $('.content').addClass('menu-padding');
            } else {
                $('#memebar').addClass('navbar-fixed-top');
                $('#memebar').removeClass('navbar-fixed-top');

                $('.content').removeClass('menu-padding');
            }


           }

          document.onscroll = scroll;

        });
    </script>

</div>