<div ng-app="memeApp" ng-controller="memeControl" class="container" ng-init="RemoveNLoadMemes('');LoadTags(1,0);">
  <h1 align="center">Meme Law</h1>


    <div class="row row-fluid">
        <div class="col-xs-12">

        <form class="input-group">
            <input type="text" id="main_search" class="form-control" ng-model="query_input" autofocus>
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit" ng-click="RemoveNLoadMemes(query_input)">Go!</button>
            </span>
        </form><!-- /input-group -->

        </div>
    </div>

    <div class="memeWrap clear" infinite-scroll="LoadMemes(query_input)" infinite-scroll-distance="2">
        <ul class="memelist">
            <li class="memeitem" ng-repeat="meme in memes">
                <div class="bg" ng-click="IncrementMeme({{meme.id}})">
                    <div class="img-thumbnail image" style="background-image: url('{{meme.url}}');"></div>'
                </div>
            </li>
        </ul>
    </div>

</div>